.App {
  font-family: Arial, sans-serif;
  text-align: center;
 
}

.landing-container {
  padding: 20px;
}

.landing-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.landing-container button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.form-container {
  
  margin: 20px;
  padding: 20px;
  background-color: rgba(249, 247, 247, 0.295);
 
  border-radius: 8px;
  width: 60%;
  margin: auto;
}

body {
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAxL3Jhd3BpeGVsb2ZmaWNlMV9ncmFpbnlfY2lyY2xlX2F1cmFfZ3JhZGllbnRfcGlua19hbmRfcGVhY2hfY29sb19kMjMxZmY0OS01ODU5LTQ3MTctOGVmYS1kMDczYTYzYWI3YjNfMS5qcGc.jpg');
  background-size: cover; 
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}


.form-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

button.btn-success {
  background-color: #28a745;
  color: white;
}

button.btn-success:hover {
  background-color: #218838;
}
